html {
    margin:    0 auto;
    max-width: 800px;
}

.watermark{
    background-image: url("../images/uplogo2.png") ;
    opacity: 0.9;
    background-repeat:no-repeat;
    background-position:center;

}


.d_page{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.root{
    height:100%;
}
.body_class{
    margin: 0;
    position:relative;
    min-height: 100%;
    height: 100vh;
}

.hidden{
    display:none;
}

.loginArea {
    width: 70%;

    margin: 0 auto;
    text-align: center;
    height:70vh;
 
    margin-top: 10%;
}

.loginField {
    width: 60%;
    height: 22px;
    border: 1px solid #888;
    padding: 6px 6px;
    margin: 4px 0;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.14);
    opacity: 0.9;

}

.button {
    display:inline-block;
    font-family: LiberationSansBold, arial;
    background: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
    height: 20%;
    border: 1px solid #444;
    border-radius: 3px;
    color: #222;
    width: 25%;
    opacity: 0.9;

}
.buttonClass{
    background-color: #53637C; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonDiv{
    margin-left:0%;
}

.backButtonArea{
    display:flex;
    margin-top : 1%;


}

.calendarFacility{
    padding:5%;
}

.calendarArea{
    display: block;
    width: 90%;
    margin-top:3%;
    margin-left:4%;
    text-align: center;
    background-color:white;
    padding: 2%;
    border:outset;

}

.calendarTable{
    margin: 0 auto;
    width:100%;
    height:90%;
    border-collapse: separate;
}

.cellDiv {
    height:100%;
    width:100%;

}

.calendarTableCell{

    border:1px solid grey;
    border-spacing: 0px;
}


.calendarTable th{
    font-style: normal;
    color:#70757a;
    text-align: left;


}
.italic{
  font-style: italic;
}


.bold{
  font-style: bold;
}
.fringeDays{
    font-style: normal;
    color:#70757a;
}

.thisMonth{
    font-style: normal;
    color:black;

}

.completedDate{
    border:2px solid #53637C;

}



.entryDate{
  font-size : 11pt !important;
  font-style: italic;
  font-weight : bold;
}

.futureDate {
    border:0 !important;

}

.calendarButton div{
    display:inline;
}

.floatLeft{

    float:left;

}

.calendarNavigationArrow:hover{


    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 5px grey;
    -moz-box-shadow: 0px 0px 8px 2px light grey;
    box-shadow: 0px 0px 8px 2px light grey;


}

.floatRight{
    float:right;
}

.offlineImage{
    background-image: url(../images/greytick.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top:68px;
    margin-bottom:50px;

}

.sentImage{
    background-image: url(../images/greytick.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top:0px;
    margin-bottom:10px;
    width:10%;

}

.tick{
    width:15px;
    margin-left:30%;
    max-width:15px;
}


.big{

    font-size: large;

}

@media only screen and (min-width:768px){
    .loginArea{width:50%;}
    .calendarArea{width:50%;margin-left:30%;}
    .entryArea{width:50%;margin-left:5%;}
    .bannerItems{margin-right:15rem;}

}



@media screen and (min-width:475px) {
    .banner{background-size: cover !important;
            background-repeat : round !important;
           }

}



.entryStageDiv{

    border:inset;

    margin-left:1%;
    margin-top: 2%;

}

.entryQuestionDiv{
    border-left: 1px solid white;
    margin-left:2%;
        border-left: 1px solid grey;

}
.entryAnswerDiv{
    margin-left:3%;

}
.entryArea{
    min-height:80vh;

}

.entrySaveDiv{
    padding:10px;
}

.banner{
    background-image: url("../images/banner.png");
    background-repeat : round;
    background-repeat-x: no-repeat;
    background-size: contain;
    background-position: top;
    height:-webkit-fill-available;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    color:white;

}

.banner2{
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    height:100%;
    justify-items: center;

}

.banner_one{
    grid-column: 1/2;
    grid-row: 1;

}

.banner_two{
    grid-column: 2/3;
    grid-row: 1;
}


.banner_two h3{
    margin-left:20%;
}

.banner_three{
    grid-column: 3/3;
    grid-row: 1;
   
}

.banner_logo{
    height:80%;
    width:auto;
}
.headerDiv{
    display:inline-block;
    top:0;
    margin-left: 0%;
    width: 100%;
    margin-right: 0%;
    position:relative;
    height:6rem;
}


.bannerItems{
    float:right;
    font-size: 15px;
    color:white;
    margin-top:3px;
    margin-right:5px;
}

.userAndFacility{
    float:right;
    display:inline-block;
    font-size: 15px;
}


.headerSettings{
    width:30%;

    float:right;
}

.headerTable{
    display:inline;
    float:left;
}

.headerSyncTable{
    margin-left:5%;
    display:inline;
    float:left;

}

.headerSettingsIcon{
    height:2rem;
}

.menuButton{
    height: 1.5rem;
}

.headerSyncIcon{
    height:2rem;
}


.headerTick{
    width:24px;
}


.red{
    background-color:red;

}

.backButton{
    margin-top:2%;
    margin-left:30%;
}

.settingsButton{
    width:100%;
    white-space: normal;
    word-wrap: break-word;
}


.internetIcon{
    text-align: right;

}

.online{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #48a999;
}

.offline{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #9e9e9e;

}

.footer {
    grid-column: 1/3;
    grid-row: 3;
    background-color: #C3C3C3;
    align-items: center;
    border: ridge;
}

.mainArea{

    display:flex;
}
.tableDiv {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    align-items:center;
    padding: 20px 16px;

}

.tableDiv th, td {
    text-align: left;
    padding: 4px;
    height:30px;
}

.tableDiv tr:nth-child(even) {background-color: #C3C3C3;}

.imgDiv{
    width:100%;
    height:700px;

}
.imgDiv2{
    width:32px;
    height:32px;
    cursor:pointer;
    padding-left: 10px;
}
.div1 {
    width: 50px;
    height: 50px;
    border: 2px solid #53637C;
    box-sizing: border-box;
}
.div2 {
    width: 50px;
    height: 50px;
    border: 1px solid #585D61;
    box-sizing: border-box;
}

.footerArea{
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 1fr 33%;
    justify-items: center;
    min-height:25px;

}

.wrapper{
    display:grid;
    grid-template-rows: 12% 1fr 5%;

    grid-template-columns: 30% 70%;
    height:100vh;
    border: ridge;
}

.one{
    grid-column: 1/3;
    grid-row: 1;
}

.two{
    grid-column: 1/2;
    grid-row: 2;
    border: ridge;

}
.three{
    grid-column: 2/3;
    grid-row: 2;
    border: ridge;

}

.threePlusTwo{
    grid-column: 1/3;
    grid-row: 2;
    border: ridge;
}

.dvRequired{
  font-style: italic;
}

.leftArea {
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
            "a"
            "b"
            "c"
            "blank"
            "blank"
            "blank"
            "d";
    height:50vh;
    margin-top:65%;



}
.la_blank{
    grid-area:blank;
}
.la_1 {
    grid-area: a;
    border-bottom: groove;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.la_2 {
    grid-area: b;
    border-bottom: groove;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
     
}
.la_3 {
    grid-area: c;
    border-bottom: groove;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.la_4 {
    grid-area: d;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.leftbarItem{
    display: block;
    margin-left:10%;
    padding:5%;
}

.inset{
    border:inset;
    background-color: #C3C3C3;
}

.widthFillAvailable{
    width: -webkit-fill-available;

}

.hide{
    display:none;
}

.lsas{
    display: block;
}

.lsas table tbody{
    display:block;
    margin-top:5%;
    border:inset;
}
