
.d_page{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.loginArea {
    width: 70%;
  
    margin: 0 auto;
    text-align: center;
}

.loginField 
{
    width: 60%;
    height: 22px;
    border: 1px solid #888;
    padding: 6px 6px;
    margin: 4px 0;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.14);
}

.button {
    display:inline-block;
    font-family: LiberationSansBold, arial;
    background: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
    height: 20%;
    border: 1px solid #444;
    border-radius: 3px;
    color: #222;
    width: 25%;
}

.buttonDiv{
    margin-left:0%;
}


.calendarArea{
    width: 80%;
    margin-top:50px;
    margin-left:10%;
    text-align: center;

}

.calendarTable{
    margin: 0 auto;
    width:100%;
    height:90%;
    border-collapse: separate;

}

.cellDiv {
    height:100%;
    width:2%;

}

.calendarTableCell{
   
    border:1px solid black;
    border-spacing: 0px;
}


.calendarTable th{
    font-style: normal;
    color:#70757a;
    text-align: left;


}
.italic{
  font-style: italic;
}

.fringeDays{
    font-style: normal;
    color:#70757a;
}

.thisMonth{
    font-style: normal;
    color:black;

}

.entryDate{
  font-weight: bold;
}

.futureDate {
    border:0 !important;

}

.calendarButton div{
    display:inline;
}

.floatLeft{
    float:left;
  
}

.calendarNavigationArrow:hover{
   
  
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 5px grey;
    -moz-box-shadow: 0px 0px 8px 2px light grey;
    box-shadow: 0px 0px 8px 2px light grey;
   

}

.floatRight{
    float:right;
}

.offlineImage{
    background-image: url(../images/greytick.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top:68px;
    margin-bottom:50px;
    
}

.sentImage{
    background-image: url(../images/greytick.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top:0px;
    margin-bottom:10px;
    width:10%;

}

.tick{
  
    height:24px;
    width:24px;
    vertical-align:bottom;
    margin:0 auto;
}

.big{

    font-size: large;
    
}

@media only screen and (min-width: 768px){
    .loginArea{width:40%;}
    .calendarArea{width:40%;margin-left:30%;}
    .entryArea{width:40%;margin-left:5%;}
}









.entryStageDiv{
       margin-top:50px;
    margin-left:10%;
    border-left: 1px solid grey;

    margin-left:1%;
}

.entryQuestionDiv{
    border-left: 1px solid grey;
     margin-left:2%;
}
.entryAnswerDiv{
   margin-left:1%;
}
.entryArea{

    
}

.entrySaveDiv{
    padding:10px;
}







.headerDiv{
    display:inline-block;
    top:0;
    margin-left: 5%;
    width: 90%;
    height: 35px;
    margin-right: 5%;
    background-color: white;
    border-bottom: 1px solid grey;
}


.userAndFacility{
    float:left;
    display:block;
    font-size: 15px;
}


.headerSettings{
    width:30%;
    
    float:right;   
}

.headerTable{
    display:inline;
    float:left;
}

.headerSyncTable{
    margin-left:5%;
   display:inline;
    float:left;

}

.headerSettingsIcon{
    height:14%;
}

.headerSyncIcon{
    height:5%;
}

.red{
    background-color:red;

}

.settingsButton{

    width:40%;
}

.internetIcon{
    text-align: right;

}

.online{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #48a999;
}

.offline{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #9e9e9e;

}
