html {
    margin:    0 auto;
    max-width: 800px;
}

.watermark{
    background-image: url("../images/uplogo2.png") ;
    opacity: 0.9;
    background-repeat:no-repeat;
    background-position:center;

}


.d_page{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.root{
    height:100%;
}
.body_class{
    top:0px;
    margin-top: 1px;
    margin-bottom: 1px;
    position:relative;
    height: 100%;
    border-style: groove;
    bottom: 0%;
}

.hidden{
    display:none;
}

.loginArea {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height:62vh;
    margin-top: 10%;
}

.loginField {
    width: 60%;
    height: 22px;
    border: 1px solid #888;
    padding: 6px 6px;
    margin: 4px 0;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.14);
    opacity: 0.9;

}

.button {
    display:inline-block;
    font-family: LiberationSansBold, arial;
    background: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
    background: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
    height: 20%;
    border: 1px solid #444;
    border-radius: 3px;
    color: #222;
    width: 25%;
    opacity: 0.9;

}
.button1{
    width: 25%;
    background-color: #0B2558;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2% 1%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button2:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 14px 40px 0 rgba(0,0,0,0.19);
}
.buttonClass{
    background-color: #53637C; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonDiv{
    margin-left:0%;
}

.backButtonArea{
    display:flex;
    margin-top : 1%;


}

.calendarFacility{
    padding:5%;
    text-align: center;
}

.calendarArea{
    display: block;
    width: 99%;
    margin-top:3%;
    text-align: center;
    background-color:white;
    padding: 2%;
    border:outset;

}

.calendarTable{
    margin: 0 auto;
    width:100%;
    height:90%;
    border-collapse: separate;
}

.cellDiv {
    height:100%;
    width:100%;

}

.calendarTableCell{

    border:1px solid grey;
    border-spacing: 0px;
}


.calendarTable th{
    font-style: normal;
    color:#70757a;
    text-align: left;


}
.italic{
    font-style: italic;
}


.bold{
    font-style: bold;
}
.fringeDays{
    font-style: normal;
    color:#70757a;
}

.thisMonth{
    font-style: normal;
    color:black;

}

.completedDate{
    border:2px solid #53637C;

}



.entryDate{
    font-size : 11pt !important;
    font-style: italic;
    font-weight : bold;
}

.futureDate {
    border:0 !important;

}

.calendarButton div{
    display:inline;
}

.floatLeft{

    float:left;

}

.calendarNavigationArrow:hover{


    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 5px grey;
    -moz-box-shadow: 0px 0px 8px 2px lightgrey;
    box-shadow: 0px 0px 8px 2px lightgrey;


}

.floatRight{
    float:right;
}

.offlineImage{
    background-image: url(../images/greytick.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top:68px;
    margin-bottom:50px;

}

.sentImage{
    background-image: url(../images/greytick.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top:0px;
    margin-bottom:10px;
    width:10%;

}

.tick{
    width:15px;
    margin-left:30%;
    max-width:15px;
}


.big{

    font-size: large;

}
.pdf{
    width: 100%;
    height: 55vh;
}

@media only screen and (min-width:768px){
    .loginArea{width:50%;}
    .calendarArea{width:90%;height:80%;}
    .entryArea{width:80%;margin-left:5%;height:80%;}
    .settingArea{width:80%;}
    .reportSection{width:98%;font-size: 12px;}
    .bannerItems{margin-right:15rem;}

}
@media only screen and (min-width:100px){
    .loginArea{width:80%;}
    .calendarArea{width:90%;height:80%;}
    .entryArea{width:80%;height:80%;margin-left:5%;}
    .settingArea{width:60%;}
    .reportSection{width:90%;font-size: 12px;}
    .bannerItems{margin-right:15rem;}

}

@media screen and (min-width:250px) {
    .banner{background-size: cover !important;
        background-repeat : round !important;
        width: auto;
        height: auto;
    }

}

.entryStageDiv{
    margin-left:1%;
    margin-top: 2%;
    max-height: 58vh;
    overflow-y: auto;
}

.entryQuestionDiv{
    border-left: 1px solid white;
    margin-left:2%;
    border-left: 1px solid grey;
    width: 100%;

}
.entryAnswerDiv{
    margin-left:3%;
    width: 100%;

}
.entryArea{

    max-height: 60vh;

}
.settingArea{
    display: block;
    width: 90%;
    margin-top:3%;
    text-align: center;
    background-color:white;
    padding: 2%;
    border:outset;
    height: 55vh;
    border: thin;
    margin-bottom: 15%;

}
.settingTable {
    padding:10px;
    margin-left: 20%;
}
.lbArea{
    background-color: #53637C;
    font-size: 14px;
}
.settingBt{
    width:25vh;
    background-color: #0B2558;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.entrySaveDiv{
    padding:10px;
}
.form-control{
    width: 180px;
}

.banner{
    background-image: url("../images/banner2.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: contain;
    overflow: hidden;
    padding: 20px 10px;
    height:-webkit-fill-available;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    color:white;
    top:0%;
    display: block;

}

.banner2{
    bottom: 0%;
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    height:100%;
    justify-items: center;

}

.banner_one{
    grid-column: 1/2;
    grid-row: 1;

}

.banner_two{
    grid-column: 2/3;
    grid-row: 1;
}


.banner_two h3{
    margin-left:20%;
}

.banner_three{
    grid-column: 3/3;
    grid-row: 1;

}

.banner_logo{
    height:80%;
    width:auto;
}
.headerDiv{
    display:inline-block;
    top:0%;
    margin-left: 0%;
    width: 100%;
    margin-right: 0%;
    position:relative;
    height:6rem;
}


.bannerItems{
    top:0%;
    float:right;
    font-size: 15px;
    color:white;
    margin-top:1px;
    margin-right:5px;
}

.userAndFacility{
    float:right;
    display:inline-block;
    font-size: 15px;
}


.headerSettings{
    width:30%;

    float:right;
}

.headerTable{
    display:inline;
    float:left;
}

.headerSyncTable{
    margin-left:5%;
    display:inline;
    float:left;

}

.headerSettingsIcon{
    height:2rem;
}

.menuButton{
    height: 1.5rem;
}

.headerSyncIcon{
    height:2rem;
}


.headerTick{
    width:24px;
}


.red{
    background-color:red;

}

.backButton{
    margin-top:2%;
    margin-left:30%;
}

.settingsButton{
    position: absolute;
    bottom: 5%;
    left: 0%;
    width:29%;
    background-color: #0B2558;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.internetIcon{
    text-align: right;

}

.online{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #48a999;
}

.offline{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #9e9e9e;

}

.footer {
    width: auto;
    background-color: #C3C3C3;
    align-items: center;
    border: ridge;
}

.mainArea{

    display:flex;
}
.tableDiv {
    border-collapse: collapse;
    width: 90%;
    box-sizing: border-box;
    align-items:center;
    padding: 20px 16px;
}
.infoArea{
    max-height: 58vh;
    overflow-y: auto;
}

.tableDiv th, td {
    text-align: left;
    padding: 4px;
    height:30px;
}



.imgDiv{
    width:100%;
    height:700px;

}
.imgDiv2{
    width:32px;
    height:32px;
    cursor:pointer;
    padding-left: 10px;
}
.div1 {
    width: 50px;
    height: 50px;
    border: 2px solid #53637C;
    box-sizing: border-box;
}
.div2 {
    width: 50px;
    height: 50px;
    border: 1px solid #585D61;
    box-sizing: border-box;
}

.footerArea{
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 1fr 33%;
    justify-items: center;
    min-height:3vh;
    width: 100%;
    bottom: 0%;
}

.wrapper{
    display:grid;
    grid-template-columns: 30% 69%;
    height:73vh;
    border: none;
}

.one{
    grid-column: 1/3;
    grid-row: 1;
}

.two{
    grid-column: 1/2;
    grid-row: 2;
    border: ridge;

}
.three{
    grid-column: 2/3;
    grid-row: 2;
    width: 100%;
    border: ridge;

}

.threePlusTwo{
    grid-column: 1/3;
    grid-row: 2;
    border: ridge;
}

.dvRequired{
    font-style: italic;
}

.leftArea {
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
            "a"
            "b"
            "c"
            "blank"
            "blank"
            "blank"
            "blank"
            "d";
    height:50vh;
}
.la_blank{
    grid-area:blank;
}
.la_1 {
    grid-area: a;
    border-bottom: groove;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.la_2 {
    grid-area: b;
    border-bottom: groove;
    height: -webkit-fill-available;
    width: -webkit-fill-available;

}
.la_3 {
    grid-area: c;
    border-bottom: groove;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.la_4 {
    grid-area: d;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.leftBar{
    margin-top: 0%;
    background-color: #C3C3C3;
    height: 70vh;
    margin-bottom: 0%;

}
.leftArea{
    background-color: #C3C3C3;

}
.leftbarItem{
    margin-top: 0%;

    display: block;
    margin-left:10%;
    padding:5%;
}

.inset{
    border:inset;
    background-color: white;
}


.lsas{
    width:100%;
    text-align: center;
}

.td_name{
    width:40%;
    padding: 6px;
    text-align: left;
}
.td_field{
    width:50%;
    padding: 6px;
    text-align: left;
}
.td_button{
    width:10%;
    padding: 6px;
    text-align: left;
    vertical-align: bottom;
}

.lsas input{
    width:100%;
}
.lsasTableTbody{
    display:block;
    margin-top:5%;
    border:inset;
    width: 100%;
}

.widthFillAvailable{
    width: -webkit-fill-available;

}

.hide{
    display:none;
}
.onlineStatus{
    background-color: #C3C3C3;
    height: 2.3rem;
    text-align: right;
    padding-right: 2%;
}
.redColor{
    font-size: 14px;
    font-style: italic;
    color: darkred;
}
.reportSection{
    min-width: 98%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}
.p1{
    width: 80%;
}
.p2{
    width: 40%;
}
.plusBtn{
    width: 10%;
}
.redButton{
    width: 20%;
    background-color: darkred;
    border: thin;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 60%;
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
}
input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }

.tdButton{
    width: 100%;
    vertical-align: top;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.lsasTableTbody input[type=text], select {
    width: 100%;
    padding: 6px 12px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.reportTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
}

.reportTable td, .reportTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.reportTable tr:nth-child(even){background-color: #f2f2f2;}

.reportTable tr:hover {background-color: #ddd;}

.reportTable th {

    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #0B2558;
    color: white;
    opacity: 0.8;
}
.reportArea{
    max-width: 58vw;
    max-height: 68vh;
    overflow-x: auto;
    overflow-y: auto;
}
.unselectable{
    visibility: hidden;
}

