.decocTable td{

    border-top: 1px solid black;
    border-bottom; 1px solid black;
}

.calcTable td{
    padding : 10px;
    border-top: 1px solid black;
    border-bottom; 1px solid black;
}

.decocTable td:hover {
background: #cccccc;
}


.grey {
    background: #aaaaaa;

}

.decocSelected {
    background: #aaaaaa;

}

.ougroupSelect{

    height:600px;
    width:400px;
    scroll:auto;
   
}

.decocDE{
    width:400px;
}

.decocJSON{
    width : 300px;
    height: 300px;
    overflow:auto;
}

a:hover, a:focus {
    text-decoration:underline;
         }

a { 
    color:blue;
    text-decoration:none;
}

.rowSelection {

    display:inline;
    float:right;
    margin-right:10%;
    height: 700px;

}

.decocDiv{
    width : 50%;
    height: 700px;
    overflow:auto;
    margin-left:3%;
    
}