.loginbox {
    width: 255px;
    height: 22px;
    background: white;
    color: black;
    text-align: left;
    border: 1px solid #888;
    padding: 6px 6px;
    margin: 4px 0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.14);
  }

  .loginText{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Sign-in {
    color: white;
    font-family: Poppins-Regular;
    font-size: 20px;
    text-align: center;
    margin-left: 17px;
    margin-right: 15px;
  }
  
.forgot-password {
  color: white;
  font-family: Poppins-Regular;
  font-size: 15px;
  text-align: center;
  margin-left: 17px;
  margin-right: 15px;
  margin-bottom: 7px;
}

#failed-login {
  color: white;
  font-family: Poppins-Regular;
  font-size: 20px;
  text-align: center;
  margin-left: 17px;
  margin-right: 15px;
  margin-bottom: 7px;
  text-decoration: underline;
}